<main class="main">
  <!-- Toolbar -->
  <mat-toolbar class="toolbar" style="background-color: rgba(0, 100, 166, 1);">
    <h1 style="font-size: 1.75rem; font-weight: bolder;">MSE CampusInfo</h1>
  </mat-toolbar>
  
<!-- Bottom Navbar -->
<div class="bottom-tab">
  <button class="tablinks" [routerLink]="['/schedule']" [routerLinkActive]="['active']" ariaCurrentWhenActive="page">
    <div class="tab-button">
      <mat-icon class="tab-icon">calendar_today
        <h2 class="tab-name" style="font-size: 1.5rem; font-weight: bold;">Schedule</h2>
      </mat-icon>
    </div>
  </button>
  <button class="tablinks" [routerLink]="['/location']" [routerLinkActive]="['active', 'schedule']" ariaCurrentWhenActive="page">
    <div class="tab-button">
      <mat-icon class="tab-icon">room
        <h2 class="tab-name" style="font-size: 1.5rem; font-weight: bold;">Location</h2>
      </mat-icon>
    </div>
  </button>
</div>

<router-outlet></router-outlet>

</main>
